<div class="create-driver-id">
  <form [formGroup]="driverIdForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Picture:</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*">
    </div>

    <div>
      <label>Owner JMBG:</label>
      <input formControlName="ownerJmbg" type="text">
    </div>

    <button type="submit" [disabled]="driverIdForm.invalid || !selectedFile">Create Driver ID</button>
  </form>

  <div *ngIf="createdDriverId">
    <h3>Driver ID Created:</h3>
    <pre>{{ createdDriverId | json }}</pre>
  </div>

  <div *ngIf="errorMessage" style="color: red;">
    {{ errorMessage }}
  </div>
</div>
