
<div *ngIf="currentSection" class="go-back" (click)="goBack()">
  <p>Go back <i class="arrow left"></i></p>
</div>



<div *ngIf="currentSection === 'police'">
  <app-police-list></app-police-list>
</div>

<div *ngIf="currentSection === 'owners'">
  <app-owner-list></app-owner-list>
</div>

<div *ngIf="currentSection === 'fines'">
  <app-fine-list></app-fine-list>
</div>

<div *ngIf="currentSection === 'vehicles'">
  <app-vehicle-list></app-vehicle-list>
</div>

<div *ngIf="currentSection === 'violations'">
  <app-violation-list></app-violation-list>
</div>

<div *ngIf="currentSection === 'export'">
  <app-export-violations></app-export-violations>
</div>

<div *ngIf="currentSection === 'statistics'">
  <app-daily-statistics></app-daily-statistics>
</div>
